[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/Moddimation/asm-differ_rp
[submodule "lib/ms"]
	path = lib/ms
	url = https://github.com/Moddimation/LibMessageStudio_ctr
[submodule "lib/nnsdk"]
	path = lib/nnsdk
	url = https://github.com/Moddimation/nnsdk_ctr
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/Moddimation/sead_ctr
