[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/RedPepperDec/asm-differ
[submodule "lib/ms"]
	path = lib/ms
	url = https://github.com/RedPepperDec/libms_ctr
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/RedPepperDec/sead_ctr
[submodule "lib/ctrsdk"]
	path = lib/ctrsdk
	url = https://github.com/RedPepperDec/ctrsdk
[submodule "project"]
	path = project
	url = https://github.com/RedPepperDec/RedPepper_Meta
