[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/Moddimation/asm-differ_rp
[submodule "lib/ms"]
	path = lib/ms
	url = https://github.com/Moddimation/libms_ctr
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/Moddimation/sead_ctr
[submodule "lib/ctrsdk"]
	path = lib/ctrsdk
	url = https://github.com/Moddimation/ctrsdk
