name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: building
  cancel-in-progress: true

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          persist-credentials: false
          access-token: ${{ secrets.GH_TOKEN }}

      - name: Checkout build repo
        uses: actions/checkout@v4
        with:
          repository: RedPepperDec/RedPepper_Build
          token: ${{ secrets.GH_TOKEN }}
          path: setup

      - name: Setup
        run: |
          cp ./setup/ver ./data/ -rf
          sudo apt-get update
          sudo apt-get install -y cmake make python3 python3-pip python-is-python3
          python -m pip install watchdog colorama levenshtein cxxfilt GitPython matplotlib numpy pyelftools

      - name: Locale to japanese
        run: |
          sudo apt-get update
          sudo apt-get install -y locales
          echo "ja_JP.SJIS SHIFT_JIS" | sudo tee -a /usr/share/i18n/SUPPORTED
          echo "ja_JP.SJIS SHIFT_JIS" | sudo tee -a /etc/locale.gen
          sudo locale-gen ja_JP.SJIS
          export LANG="ja_JP.SJIS"
          export LC_ALL="ja_JP.SJIS"

      - name: Build & Parse
        run: | 
          export LM_LICENSE_FILE="$PWD/setup/license.dat"
          export ARMCC_PATH="$PWD/setup/armcc"
          export ARMCC41INC="${ARMCC_PATH}/include/unix"
          export ARMCC41LIB="${ARMCC_PATH}/lib"
          export DEVKITARM="$PWD/setup/dkp"
          
          VERSIONS=(); for dir in ./data/ver/*/; do VERSIONS+=("${dir%/}"); done; VERSIONS=("${VERSIONS[@]##*/}")

          for v in "${VERSIONS[@]}"; do
              echo "Now $v"
              python tools/build.py "$v"
              echo "Checking and updating csv"
              python tools/check.py -q -w
              echo "Generating progress info"
              python tools/progress.py
              echo "Finished $v"
          done
          python tools/build.py

      - name: Publish stats
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          VERSIONS=(); for dir in ./data/ver/*/; do VERSIONS+=("${dir%/}"); done; VERSIONS=("${VERSIONS[@]##*/}")

          for v in "${VERSIONS[@]}"; do
              echo "Now $v"
              R="stats-$v"
              DIR="data/stats/$v"
              echo "DBG:$DIR"
              BODY=""
              FILE="$DIR/release.txt"
              if [ -f "$FILE" ]; then
                  BODY=$(cat "$FILE")
              else
                  echo missing release.txt for $v
              fi

              if gh release view "$R" >/dev/null 2>&1; then
                  gh release delete "$R" --yes || true
              fi

              gh release create "$R" -t "$R" -n "$BODY"

              for f in "$DIR"/*; do
                  if [[ "$(basename "$f")" == "release.txt" ]]; then
                      continue
                  fi
                  echo "Got: $f"
                  gh release upload "$R" "$f" --clobber
              done

              echo "Uploaded, now updating action summary..."
              if ! [-f "data/ver/$v/.changes"]; then
                  CHANGES="No changes."
              fi
              CHANGES=$(cat "data/ver/$v/.changes")
              echo "Changes for $v:" >> $GITHUB_STEP_SUMMARY
              echo $CHANGES >> $GITHUB_STEP_SUMMARY

              echo "Finished $v"
          done

